'use strict'
module.exports = {
  NODE_ENV: '"production"',
  VUE_APP_API: '"https://absensi-selfie.pptik.id:5026"',
  VUE_APP_API_DEV: '"https://pptik-local.pptik.id:5026"',
  VUE_APP_URL: '""',
  VUE_APP_KEY: '""',
  VUE_APP_VERSION: '""'
}
